.container {

}

.searched {
  transform: translateY(20px) !important;
}

.searched-data {
  transform: translateY(80px) !important;
}

.dataTableRow td {
  vertical-align: middle !important;
  text-align: center !important;
  width: 200px;
}


td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}
