.container {

}

.searched {
  transform: translateY(20px) !important;
}

.searched-data {
  transform: translateY(80px) !important;
}

.dataTableRow td {
  vertical-align: middle !important;
  text-align: center !important;
  width: 180px;
}
